<!-- instarlar primeng en el archivo angular.json en el apartado de styles 
node_modules/primeicons/primeicons.css
node_modules/primeng/resources/themes/saga-blue/theme.css
node_modules/primeng/resources/primeng.min.css -->
  <!-- <div class="text-layaout">
      <h1> {{ nombre | titlecase }} </h1>
    <h1> {{ valor | number }} </h1>
    <h1> {{ obj | json }} </h1>
  </div>

<button pButton
        pRipple
        class="p-button-help"
        icon="pi pi-check"
        iconPos="right"
        (click)="mostrarNombre()"
        label="cambiar nombre"> 
</button>

usar modulo de targetas
import {CardModule} from 'primeng/card';
<p-card [header]="nombre | titlecase"
        subheader="esto es un sub header">
Simple Card
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
</p-card> -->

<app-menu></app-menu>
<!-- con estas etiquetas puedes ver el enrutado que isite en el module -->
<router-outlet></router-outlet>
